
@using CMS_Web.Data.Models

@page "/CreateFolder"
@using System.Net.Http.Headers
<h3>CreateFolder</h3>

<label> Parent:</label>
<select></select>

<label>Folder Name</label>
    <input type="text" />

    <button @onclick="AddFolderAsync">Save</button>

    @code {
        CreateFolderDto Folder { get; set; } = new CreateFolderDto();
        [Inject]private IHttpClientFactory httpFactory { get; set; }
        [Inject]private IJSRuntime JSRuntime { get; set; }
        

    private async Task AddFolderAsync()
    {
        await JSRuntime.InvokeVoidAsync("alert('Test')");
        var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
        Console.WriteLine("Token saved to localStorage: " + token);

        var newFolder = new CreateFolderDto
        {
            Name = "test",
            ParentFolderId = null
        };

        var httpClient = httpFactory.CreateClient();
        httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer " + token);
        await httpClient.PostAsync("/api/Folder", JsonContent.Create(newFolder));
    }

}