@page "/folders"
@using CMS_Project.Models.Entities

@inject FolderService FolderService

<h3>Folders</h3>

@if (folders == null)
{
    <p>Loading folders...</p>
}
else
{
    <ul>
        @foreach (var folder in folders)
        {
            <li>
                <strong>@folder.Name</strong>
                @if (folder.Subfolders.Any())
                {
                    <ul>
                        @foreach (var subfolder in folder.Subfolders)
                        {
                            <li>@subfolder.Name</li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}

@code {
    private List<Folder> folders;

    protected override async Task OnInitializedAsync()
    {
        folders = await FolderService.GetFoldersAsync();
    }
}
