@page "/logout"

@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

<h3>Logout</h3>

<div>
    <p>
        @message
    </p>
</div>

@code {
    private string message = "You are being logged out...";


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "authToken");

            message = "You have been logged out, redirecting.";

            NavManager.NavigateTo("/login");

        }
    }
}
