@page "/logout"

@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager


<h3>Logout</h3>


<div>
    <p>You are being logged out...</p>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            NavManager.NavigateTo("/login");
        }
    }
}